html{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

body{
    padding: 250px;
    padding-top: 100px;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
    color: #000000;
}

#content{
    padding:80px;
    background-color: white;
    opacity: 0.75;
    display:flex;
}