html{
    background-image: url(../img/background.jpg);
    background-size: cover;
}

body{
    padding:50px 150px 50px 150px;
    margin:0px;
    position:relative;
    text-align: center;
}

h1{
    font-family: 'Rock Salt', cursive;
    font-size: 45px;
    color: #000000;
}

header{
    background-color: darkred;
    top:0px;
    padding:80px;
}

#content{
    background-color: white;
    opacity: 0.75;
    display:block;
    padding:80px;
    text-align: center;
}

#logs{
    background-color: darkred;
    text-align: right;
}

.main{
    background-color: white;
    opacity: 0.75;
    display:block;
    padding:80px;
    text-align: center;
}

.createRestaurant{
    background-color: white;
    opacity: 0.75;
    display:block;
    padding:80px;
    text-align: left;
}